---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Tania Gonzaga{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}I graduated in Visual Communication at University Center Senac São Paulo and it I am currently finishing a Master in Digital Media (MA) at Hochschule für Künste Bremen. I work with a variety of media including video, installation, graphic design, VR and interactive media. My work floats exploratively between the boundaries computer technology and internet, materiality and immateriality, physical and digital, random and structured, and so on.
{% endif %}</p>
       
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
