---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Tania Gonzaga{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}_Media designer from São Paulo, Brazil currently based in Bremen, Germany.{% endif %}</p>
          <p class="author_subtitle">_Studying Digital Media Master (MA) at Hochschule für Künste Bremen.</p>
          <p class="author_subtitle">_ Since 2007 I worked on a variety of projects in areas as graphic design, video, web, VR and installations. I am interested in exploring current topics focusing on the absurdity and randomness of our time's peculiarity.</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
