---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Tania Gonzaga{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %} I am a media designer from São Paulo, currently based in Bremen. I graduated in Bachelor of Visual Communication at University Center Senac São Paulo and I am at moment finishing a Master in Digital Media (MA) at Hochschule für Künste Bremen. I work with a variety of media including video, sound, installation, graphic design, VR and interactive media. My work floats exploratively between the dichotomies surrounding computer technology and internet like materiality and immateriality, physical and digital, random and structured, and so on. I have exhibited in the following festivals: Festival do Minuto (São Paulo), Kino Pod Baranami (Kraków), Hochschultage (HFK Bremen), Lab30 (Augsburg), and TADAEX (Tehran).
{% endif %}</p>
       
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
