
<header class="main_header">
<!--  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}B<span>ef</span>{% endif %}</a> -->
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}<p1>//</p1>{% endif %}</a> 

  <nav class="main_menu">
    <!-- <a href="{{site.baseurl}}"> caraioa </a> -->
    <a href="{{site.baseurl}}/about/"><p1>about</p1></a>
   <!-- <a href="{{site.baseurl}}/contact/">Contact</a> -->
  </nav>
</header> <!-- End Section Header -->
