
<header class="main_header">
<!--  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}B<span>ef</span>{% endif %}</a> -->
  <a href="{{site.baseurl}}">     </a>
  
  <nav class="main_menu">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}<font size="2"><font color="#CCCCCC">//</font>{% endif %}</a> 

  <a href="{{site.baseurl}}/about/"><font size="2"><font color="#CCCCCC">about</font></a>
   <!-- <a href="{{site.baseurl}}/contact/">Contact</a> -->
  </nav>
</header> <!-- End Section Header -->
