
<ul class="social_footer">
{% if site.email %}
<li> <span class="@"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{site.email}}">{{site.email}}</li></a></span>
{% else %}
<li><span class="@"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:taniagonzaga2@gmail.com">@</a></li></span>
 {% endif %}  

  {% if site.linkedin_url %}
  <li><a href="https://www.linkedin.com/in/taniagonzaga/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if site.behance_url %}
  <li><a href="https://www.behance.net/taniagonzaga" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
  {% endif %}
</ul>
