
<ul class="social_footer">

 <li><span class="author_email"><a href="mailto:taniagonzaga2@gmail.com"><b>@<b></a></li></span>

  <li><a href="https://www.linkedin.com/in/taniagonzaga/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
  
  <li><a href="https://www.behance.net/taniagonzaga" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
  
  <li><a href="https://docs.google.com/document/d/1v3edGwAgKFmbEo19cguZqei4q-1EsQyo54kZVS5aVyk/edit?usp=sharing" target="_blank"><i class="fa fa-CV" aria-hidden="true"></i></a></li>

</ul>
  
